@import 'libs/bootstrap-reboot.min';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    height: 100%;
    width: 1170px;
    margin: 0 auto;
}

.btn {
    display: block;
    width: 170px;
    height: 53px;
    background-color: #998675;
    box-shadow: inset 0px -3px 0px 0px #736357;
    border-radius: 3px;
    border: none;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    transition: all 0.2s;
    &_center {
        margin: 0 auto;
    }
    &:hover {
        background: #927c68;
    }
}

.title {
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 600;
    line-height: initial;
    color: #555555;
    text-align: center;
    margin-bottom: 17px;
    &_left {
        text-align: left;
    }
}

.description {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #8c8c8c;
    text-align: center;
    max-width: 757px;
    margin: 0 auto;
    &_left {
        text-align: left;
    }
}

@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/slider';
@import 'blocks/services';
@import 'blocks/realization';
@import 'blocks/aside';
@import 'blocks/projects';
@import 'blocks/devices';
@import 'blocks/statistics';