.header {
    position: absolute;
    z-index: 2;
    top: 40px;
    &__wrapper {
        display: flex;
        align-items: center;
        &:hover {
            color: #b09e88;
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 219px;
    &__title {
        a {
            font-family: 'Raleway';
            font-size: 34px;
            font-weight: 400;
            letter-spacing: -0.04em;
            color: #ffffff;
            text-decoration: none;
            transition: all 0.2s;
            &:hover {
                color: #b09e88;
            }
        }
    }
}

.nav {
    &__wrapper {
        display: flex;
    }
}

.menu {
    width: 637px;
    display: flex;
    justify-content: space-between;
    margin-right: 63px;
    margin-bottom: 0;
    &__item {
        list-style-type: none;
        a {
            font-family: 'Montserrat';
            font-size: 14px;
            font-weight: 300;
            color: #ffffff;
            text-decoration: none;
            transition: all 0.2s;
            &:hover {
                color: #b09e88;
            }
        }
    }
}

.tools {
    width: 70px;
    display: flex;
    justify-content: space-between;
    &__item {
        cursor: pointer;
        &:hover path {
            transition: all 0.2s;
            fill: #b09e88;
    }
    }
}